html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1, h2, h3 {
  font-size: medium;
  margin: 0;
}

#layout {
  table-layout: fixed;
  overflow: hidden;
  white-space: nowrap;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#layout td {
  border: 1px solid black;
  padding: 0;
}

#window-heading, #trees-heading, #details-heading {
  height: 2em;
  background-color: #ccc;
}

#trees td, #details td {
  height: calc(50vh - 3em - 3px);
  vertical-align: top;
}

#trees > td > div, #details > td > dl {
  height: calc(50vh - 3em - 3px);
  overflow: auto;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dt.inline {
  display: inline;
}

dt:after {
  content: ': ';
}

dd {
  display: inline;
  margin-left: 0;
}

td.map {
  width: 20%;
}

/* FIXME this leaves a 4-6px gap below the svg (and sometimes to the right,
 * depending on the overall viewport height!?!), but if I "fix" that it throws
 * the whole table out of whack. Huh?
 */
td.map svg {
  width: calc(20vw - 4px);
  height: calc(50vh - 3em - 7px);
}

button {
  border-style: outset;
  border-width: 2px;
  border-color: #ddd;
  background-color: #ddd;
}
button:active {
  border-style: inset;
}

input {
  border: 1px solid black;
  padding: 1px;
}

input.search {
  width: calc(100% - 2px);
  height: 2em;
  border: 0;
}

input:invalid {
  background-color: pink;
}

.template {
  display: none;
}

.comment {
  white-space: normal;
  width: calc(100% - 1em - 4px);
  margin-left: 1em;
}

#trips-words {
  display: inline-block;
  white-space: normal;
  width: calc(100% - 6em);
  vertical-align: top;
}

.handle {
  fill-color: black;
  stroke: none;
}

line {
  stroke-width: 0.1em;
  stroke: red;
}

ul.selectable {
  list-style-position: inside;
  padding-left: 1.5em;
}

ul.selectable li {
  list-style-type: circle;
}

ul.selectable li.selected {
  list-style-type: disc;
  /* copied from a.jstree-default.jstree-clicked */
  background: #beebff;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
}

ul.selectable li.controls, li.controls {
  list-style-type: square;
}

li.inherited {
  color: #666;
}
